*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/wp2098819.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    background-color: rgba(136, 136, 136, 0.863);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bloco{
    padding: 30px 20px;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    background-color: antiquewhite;
    z-index: 2;
}

.info{
    text-align: center;
}

.info img{
    margin-top: 30px;
}

.info h4:first-child{
    font-size: 30px;
}

.info h4{
    margin-bottom: 10px;
}

.info h4:last-child{
    margin-top: 20px;
}