<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>Pokemon Evolution</title>
</head>
<body>
    <div class="bg"></div>
    <div class="bloco">
        <div class="info">
            <h4 id="nome"></h4>
            <div><b>Ataque: </b> <span id="ataque"></span></div>
            <div><b>Defesa: </b><span id="defesa"></span></div>
            
            <div>
                <button id="evoluir">Clique para evoluir</button>
            </div>
            <img id="imagem" width="250px" alt="">
            <div id="bloco-evolucao"></div>
        </div>
    </div>

    <script type="text/javascript" src="../static/index.js"></script>
</body>
</html>